/* Dashboard.css */
.dashboard-container {
    font-family: 'Roboto', sans-serif;
    background-color: #052341;
    padding: 20px;
    min-height: 100vh;
    height: 100%;
    color: #a9b4c0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .dashboard-heading {
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .dashboard-metrics {
    display: flex;
    gap: 20px;
    justify-content: center; /* Center the metric cards */
    flex-wrap: wrap; /* Allow metric cards to wrap */
  }
  
  .dashboard-metric-card {
    background-color: #074486;
    border-radius: 0.25rem;
    padding: 15px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
    width: 200px; /* Adjust width as needed */
    text-align: center;
  }
  
  .dashboard-table-section {
    background-color: #074486;
    border-radius: 0.25rem;
    padding: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .dashboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
    background-color: #074486;
  }
  
  .dashboard-table th,
  .dashboard-table td {
    border: 1px solid #0f5193;
    padding: 12px 15px;
    text-align: left;
  }
  
  .dashboard-table thead {
    background: linear-gradient(to bottom, #4f89c4, #7a9bbd);
    color: #495057;
    font-weight: 500;
  }
  
  .dashboard-table tbody tr:nth-child(even) {
    background-color: #405162;
  }
  
  .dashboard-table tbody tr:hover {
    background-color: #041322;
    transition: background-color 0.1s ease-in-out;
  }
  
  .dashboard-error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
    text-align: center;
  }
  
  .dashboard-loading {
    text-align: center;
  }